.activeFilter {
    background-color: aquamarine;
}

.error {
    border: red 1px solid;
}

.errorMessage {
    color: red;
}

.isDone {
    opacity: 0.5;
}

.titleAndBtn {
    display: flex;
    align-items: center;
}

.title {
    flex-grow: 1;
}

.btn {
    margin-left: 10px;
}
